body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 100%;
    text-align: center;
}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.container {
  padding: 16px;
}

.main {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2%;
}

.gamble {
  margin-top: 50px;
  border: 3px solid #c9c9c9; 
  margin: auto;
  padding: 1%;
  margin-bottom: 2%;
}

.bets {
  border: 3px solid #c9c9c9; 
  margin: auto;
  padding: 1%;
  margin-bottom: 2%;
}

.SB {
  border: 3px solid #c9c9c9; 
  margin: auto;
  padding: 1%;
  margin-bottom: 2%;
}

.log {
  border: 3px solid #c9c9c9; 
  margin: auto;
  height: 1000px;
  padding: 1%;
  margin-bottom: 2%;
}

.money {
  border: 3px solid #c9c9c9;            
  margin: auto;
  padding: .1%;
  position: relative;
  margin-bottom: 2%;
}

.dealer {
  border: 3px solid #c9c9c9; 
  margin: auto;
  padding: 1%;
  margin-bottom: 2%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media only screen and (max-width: 600px) {
    .main {
        width: 90%;
    }
}